/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#input-id{
    height: 40px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
     background-color: beige;
     color: black;
     
}

#button-id{
    height: 30px;
    width: 130px;
     margin-right: auto;
     margin-left: auto;
     margin-top: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     border: none;
     background-color: beige;
     color: black;

}

#button-id:hover{
 background-color: rgb(222, 222, 200);

} */
.quiz-list {
    display: flex;
    width: 70vh;
   
  }
  
  .quiz-box {
    width: 30%;
    background-color: #f0f0f0;
    width: 100vh;
   
  }
  
  button {
    padding: 10px;
   margin-right: auto;
   margin-left: auto;
  }
  
  button:hover {
    opacity: 0.8;
    width: 40vh;

  }
  